@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");

// @Wrappers
body {
    font-family: "Roboto", sans-serif;
    background: var(--blue-color);
    margin: 0;
}

#root,
.App {
    width: 100%;
    height: 100%;
}

#content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#table-wrapper,
#header,
#error-wrapper {
    width: 50%;
}

#header {
    padding: var(--lg-pad) 0;
    display: flex;
}

.header-content {
    margin-left: auto;
}

.header-content span {
    color: var(--quarter-white);
    font-family: "Roboto Condensed", sans-serif;
}

// @ General
.icon-box {
    height: var(--input-mid);
    width: var(--input-mid);
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-box-sm,
.dfo img {
    height: var(--input-half);
    width: var(--input-half);
    display: flex;
    justify-content: center;
    align-items: center;
}

#fileInput {
    display: none;
}

.logo-main img {
    max-width: 100%;
    width: auto;
    height: var(--input-mid);
    vertical-align: top;
}

.date-time {
    text-align: right;
}

.main-color-txt {
    color: var(--main-color);
}

// Socials
#social-media {
    display: flex;
    flex-direction: row;
    margin-top: var(--main-pad);
}

#social-media .icon-box .icon-box-sm {
    font-size: var(--icon-half);
    color: var(--quarter-white);
}

// @ Animations
@-webkit-keyframes pulse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes pulse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}