:root {
    --main-font: 16px;
    --sm-font: 14px;
    --xs-font: 12px;
    
	--xxs-pad: 4px;
    --xs-pad: 8px;
    --sm-pad: 12px;
    --mid-pad: 16px;
    --main-pad: 24px;
    --med-pad: 32px;
    --lg-pad: 48px;
    --xl-pad: 72px;
    --xxl-pad: 96px;

    --white-color: #FFFFFF;
    --blue-color: #1A152E;
    --half-blue: #524f5c;
    --main-color: #fd6d52;
    --light-main-color: #ff9682;
    --light-glass: rgba(255, 255, 255, 0.04);
    --quarter-white: rgba(255, 255, 255, 0.25);

    --icon-half: 24px;

    --input-main: 56px;
    --input-mid: 48px;
    --input-threequarter: 40px;
    --input-halfquarter: 32px;
    --input-half: 24px;

    --main-border: 5px;
}